<h1>Listing Drugs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Unit</th>
      <th>Price</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for drug <- @drugs do %>
    <tr>
      <td><%= drug.description %></td>
      <td><%= drug.unit %></td>
      <td><%= drug.price %></td>

   <td style="width: 115px;">

        <%= link to: Routes.drug_path(@conn, :show, drug), class: "btn btn-info" do  %>
          <i class="fa fa-eye fa-lg"></i>
        <% end %>

        <%= link to: Routes.drug_path(@conn, :edit, drug), class: "btn btn-info" do  %>
          <i class="fa fa-pencil-square-o fa-lg"></i>
        <% end %>

        <%= link to: Routes.drug_path(@conn, :delete, drug), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <% end %>

      </td>
    </tr>
<% end %>
  </tbody>
</table>


<%= link to: Routes.drug_path(@conn, :new), class: "btn btn-info" do  %>
  <i class="fa fa-plus fa-3x "></i>
<% end %>
