<h1>Edit Client</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.client_path(@conn, :update, @client)) %>

<%= link to: Routes.client_path(@conn, :index), class: "btn btn-light" do  %>
  <i class="fa fa-undo fa-lg "></i> Back
<% end %>
