<h1>Courier Status</h1>

<%= render "formedit.html", Map.put(assigns, :action, Routes.pharma_courier_path(@conn, :update, @pharma_courier)) %>

<%= link to: Routes.pharma_courier_path(@conn, :index), class: "btn btn-light" do  %>
  <i class="fa fa-undo fa-lg "></i> Back
<% end %>
